<html>
  <head>
    <title>K9 Overhaul</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    
    <div id="app" v-show="visible">
      <div class="k9_menu_base">
        <div class="k9_menu_header">
          {{ menu }} {{ selectedComponent }}
        </div>
        <div v-if="components.length > 0" class="k9_menu_body">
          <div v-for="(component, componentIndex) in components" :key="componentIndex" class="k9_button" v-bind:class="{ k9_button_hovered: selectedComponent == componentIndex + 1 }">
            {{ component.Title }}
            <span v-if="component.Type == 'submenu'" class="k9_button_submenu_icon">
              <i class="fa fa-arrow-right"></i>
            </span>
          </div>
        </div>
      </div>
    </div>

    <script src="https://use.fontawesome.com/4802736edb.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> <!-- DEVELOPMENT -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script> --> <!-- PRODUCTION -->
    <script src="events.js"></script>
    <script src="script.js"></script>
  </body>
</html>